@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico para garantir altura total */
html, body, #root {
  height: 100%;
  margin: 0;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}